<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springmvc.dao.UserDAO">
    
    <resultMap type="cn.springmvc.model.User" id="usermap">
		<id column="id" property="id"/>
		<result column="state" property="state"/>
		<result column="nickname" property="nickname"/>
	</resultMap>
	
	<insert id="insertUser" parameterType="User" keyProperty="id">
		insert into days_user(
		state,
		nickname)
		values
		(
		#{state},
		#{nickname})
	</insert>
	
	<select id="findAll" resultMap="usermap">
	    select * from days_user
	</select>

</mapper>